/* Code tidied up by ScrapBook */
@font-face {
  font-family: "icon";
  src: url("64ea023dc94d54369c652510f815fa07.woff") format("woff"), url("7a008c2f4c6950261813ddaba27ec602.ttf") format("truetype"), url("f97242a19dad0db5a1eadf14e416ed20.svg") format("svg");
}
body { font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif !important; }
html { line-height: 1.15; }
body { margin: 0px; }
a { background-color: transparent; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
[type="reset"], [type="submit"], button, html [type="button"] {  }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring { outline: 0.01rem dotted buttontext; }
@keyframes amFadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes amFadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes amFadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes amFadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes amSlideUpIn {
0% { transform: translateY(100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideUpIn {
0% { transform: translateY(100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideUpOut {
0% { transform: translate(0px); }
100% { transform: translateY(100%); }
}
@keyframes amSlideUpOut {
0% { transform: translate(0px); }
100% { transform: translateY(100%); }
}
@keyframes amZoomIn {
0% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
100% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
}
@keyframes amZoomIn {
0% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
100% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
}
@keyframes amZoomOut {
0% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
100% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
}
@keyframes amZoomOut {
0% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
100% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
}
@keyframes amSlideDownIn {
0% { transform: translateY(-100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideDownIn {
0% { transform: translateY(-100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideDownOut {
0% { transform: translate(0px); }
100% { transform: translateY(-100%); }
}
@keyframes amSlideDownOut {
0% { transform: translate(0px); }
100% { transform: translateY(-100%); }
}
*, *::after, *::before {  }
html { font-size: 50px; }
body { -moz-user-select: none; font-size: 0.32rem; background-color: rgb(242, 242, 242); }
:focus, a { outline: medium none; }
a { background: transparent none repeat scroll 0% 0%; text-decoration: none; }
@keyframes cirle-anim {
100% { transform: rotate(1turn); }
}
@keyframes cirle-anim {
100% { transform: rotate(1turn); }
}
.am-whitespace.am-whitespace-md { height: 0.2rem; }
.am-whitespace.am-whitespace-lg { height: 0.3rem; }
.am-list-body { position: relative; background-color: rgb(255, 255, 255); border-top: 0.01rem solid rgba(0, 0, 0, 0.1); }
.am-list-body::after, .am-list-body div:not(:last-child) .am-list-line::after { display: block; position: absolute; content: ""; width: 100%; border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1); }
.am-list-body div:not(:last-child) .am-list-line::after { left: 0px; bottom: 0px; right: auto; top: auto; }
.am-list-item { position: relative; display: flex; padding-left: 0.3rem; min-height: 1.08rem; background-color: rgb(255, 255, 255); vertical-align: middle; overflow: hidden; transition: background-color 0.2s ease 0s; -moz-box-align: center; align-items: center; }
.am-list-item .am-list-ripple { position: absolute; background: transparent none repeat scroll 0% 0%; display: inline-block; overflow: hidden; will-change: box-shadow, transform; transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s; outline: medium none; cursor: pointer; border-radius: 100%; transform: scale(0); }
.am-list-item.am-list-item-middle .am-list-line { -moz-box-align: center; align-items: center; }
.am-list-item .am-list-line { position: relative; display: flex; -moz-box-flex: 1; flex: 1 1 0%; align-self: stretch; padding-right: 0.3rem; min-height: 1.08rem; overflow: hidden; }
.am-list-item .am-list-line .am-list-content { -moz-box-flex: 1; flex: 1 1 0%; color: rgba(0, 0, 0, 0.6); font-size: 0.36rem; text-align: left; }
.am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra { line-height: 1.5; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-top: 0.14rem; padding-bottom: 0.14rem; }
.am-list-item .am-list-line .am-list-extra { flex-basis: 36%; color: rgba(0, 0, 0, 0.5); font-size: 0.24rem; text-align: right; }
.am-list-item .am-list-line .am-list-arrow { display: block; width: 0.3rem; height: 0.3rem; margin-left: 0.16rem; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='26' viewBox='0 0 16 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/%3E%3C/svg%3E"); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; visibility: hidden; }
.am-list-item .am-list-line .am-list-arrow-horizontal { visibility: visible; }
@keyframes ripple {
100% { opacity: 0; transform: scale(2.5); }
}
@keyframes ripple {
100% { opacity: 0; transform: scale(2.5); }
}
@keyframes spinner-anime {
100% { transform: rotate(1turn); }
}
@keyframes spinner-anime {
100% { transform: rotate(1turn); }
}
.safety-home .am-list-content a { position: absolute; left: 0px; top: 0px; color: rgba(0, 0, 0, 0.8); }
.safety-home .am-list-content a, .safety-home .sign-out-btn { display: inline-block; width: 100%; line-height: 1.08rem; font-size: 0.28rem; }
.safety-home .sign-out-btn { height: 1.08rem; text-align: center; color: red; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; outline: medium none; }
.safety-home .am-list-extra { overflow: visible !important; text-overflow: clip !important; }
@keyframes keyboard-cursor {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes keyboard-cursor {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
.am-list-body .am-list-item:last-child { border-bottom: 0px none; }
.am-list-body .am-list-item:last-child::after { display: none; }
