/* Code tidied up by ScrapBook */
html { line-height: 1.15; }
body { margin: 0px; }
a { background-color: transparent; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
[type="reset"], [type="submit"], button, html [type="button"] {  }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring { outline: 0.01rem dotted buttontext; }
@keyframes amFadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes amFadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes amFadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes amFadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes amSlideUpIn {
0% { transform: translateY(100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideUpIn {
0% { transform: translateY(100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideUpOut {
0% { transform: translate(0px); }
100% { transform: translateY(100%); }
}
@keyframes amSlideUpOut {
0% { transform: translate(0px); }
100% { transform: translateY(100%); }
}
@keyframes amZoomIn {
0% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
100% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
}
@keyframes amZoomIn {
0% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
100% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
}
@keyframes amZoomOut {
0% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
100% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
}
@keyframes amZoomOut {
0% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
100% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
}
@keyframes amSlideDownIn {
0% { transform: translateY(-100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideDownIn {
0% { transform: translateY(-100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideDownOut {
0% { transform: translate(0px); }
100% { transform: translateY(-100%); }
}
@keyframes amSlideDownOut {
0% { transform: translate(0px); }
100% { transform: translateY(-100%); }
}
*, *::after, *::before {  }
html { font-size: 50px; }
body { -moz-user-select: none; font-size: 0.32rem; background-color: rgb(245, 245, 249); }
:focus, a { outline: medium none; }
a { background: transparent none repeat scroll 0% 0%; text-decoration: none; }
.am-whitespace.am-whitespace-md { height: 0.18rem; }
@keyframes spinner-anime {
100% { transform: rotate(1turn); }
}
@keyframes spinner-anime {
100% { transform: rotate(1turn); }
}
.data-cell { font-weight: 300; }
.data-cell-label { position: relative; margin-bottom: 0.15rem; font-size: 0.28rem; color: rgb(44, 44, 44); }
.data-cell-value { margin: 0px; font-size: 0.26rem; color: rgb(153, 153, 153); }
.data-cell sub { font-size: 0.28rem; bottom: 0px; }
.data-unit { padding: 0.45rem 0.3rem; box-sizing: border-box; height: 1.7rem; background-color: rgb(39, 130, 215); }
.data-unit.unit-3 dl { position: relative; box-sizing: border-box; float: left; margin: 0px; padding: 0px 0.2rem; width: 33.3333%; text-align: center; color: rgb(255, 255, 255); }
.data-unit.unit-3 dt { font-size: 0.26rem; font-weight: 300; }
.data-unit.unit-3 dd { margin: 0.15rem 0px 0px; font-size: 0.32rem; }
.borrows-header { height: 4.48rem; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 0.01rem solid rgb(229, 229, 229); }
.borrows-header .borrows-rate { width: 100%; height: 2.9rem; box-sizing: border-box; padding-top: 0.76rem; background: rgb(39, 130, 215) none repeat scroll 0% 0%; text-align: center; }
.borrows-header .borrows-rate dt { font-size: 0.32rem; color: rgba(255, 255, 255, 0.7); margin-bottom: 0px; }
.borrows-header .borrows-rate dd { line-height: 1.08rem; font-size: 0.7rem; color: rgb(255, 255, 255); }
.borrows-header .data-unit { height: 1.54rem; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0.6rem 0px; }
.borrows-header .data-unit dl { color: rgb(255, 255, 255); }
.borrows-header .data-unit dt { font-size: 0.28rem; color: rgb(0, 0, 0); font-weight: 400; }
.borrows-header .data-unit dd { font-size: 0.24rem; color: rgba(0, 0, 0, 0.5); }
@keyframes cirle-anim {
100% { transform: rotate(1turn); }
}
@keyframes cirle-anim {
100% { transform: rotate(1turn); }
}
.am-tag { display: inline-block; position: relative; font-size: 0.28rem; text-align: center; padding: 0px 0.3rem; height: 0.5rem; line-height: 0.5rem; border-radius: 0.06rem; box-sizing: border-box; }
.am-tag.am-tag-small { height: 0.3rem; line-height: 0.3rem; padding: 0px 0.1rem; font-size: 0.2rem; }
.am-tag-normal { background-color: rgb(255, 255, 255); color: rgb(136, 136, 136); border: 1px solid rgb(221, 221, 221); }
.am-list-body { position: relative; background-color: rgb(255, 255, 255); border-top: 1px solid rgb(221, 221, 221); }
.am-list-body::after, .am-list-body div:not(:last-child) .am-list-line::after { display: block; position: absolute; content: ""; width: 100%; border-bottom: 1px solid rgb(221, 221, 221); }
.am-list-body div:not(:last-child) .am-list-line::after { left: 0px; bottom: 0px; right: auto; top: auto; }
.am-list-item { position: relative; display: flex; padding-left: 0.3rem; min-height: 0.9rem; background-color: rgb(255, 255, 255); vertical-align: middle; overflow: hidden; transition: background-color 0.2s ease 0s; -moz-box-align: center; align-items: center; }
.am-list-item .am-list-ripple { position: absolute; background: transparent none repeat scroll 0% 0%; display: inline-block; overflow: hidden; will-change: box-shadow, transform; transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s; outline: medium none; cursor: pointer; border-radius: 100%; transform: scale(0); }
.am-list-item.am-list-item-middle .am-list-line { -moz-box-align: center; align-items: center; }
.am-list-item .am-list-line { position: relative; display: flex; -moz-box-flex: 1; flex: 1 1 0%; align-self: stretch; padding-right: 0.3rem; min-height: 0.9rem; overflow: hidden; }
.am-list-item .am-list-line .am-list-content { -moz-box-flex: 1; flex: 1 1 0%; color: rgb(0, 0, 0); font-size: 0.34rem; text-align: left; }
.am-list-item .am-list-line .am-list-content, .am-list-item .am-list-line .am-list-extra { line-height: 1.5; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-top: 0.14rem; padding-bottom: 0.14rem; }
.am-list-item .am-list-line .am-list-extra { flex-basis: 36%; color: rgb(136, 136, 136); font-size: 0.32rem; text-align: right; }
.am-list-item .am-list-line .am-list-arrow { display: block; width: 0.3rem; height: 0.3rem; margin-left: 0.16rem; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='26' viewBox='0 0 16 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/%3E%3C/svg%3E"); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; visibility: hidden; }
.am-list-item .am-list-line .am-list-arrow-horizontal { visibility: visible; }
@keyframes ripple {
100% { opacity: 0; transform: scale(2.5); }
}
@keyframes ripple {
100% { opacity: 0; transform: scale(2.5); }
}
.voucher-info .am-tag-small { float: left; width: 1rem; height: 0.42rem; font-size: 0.24rem; border: 0.01rem solid rgb(255, 138, 16); line-height: 0.42rem; color: rgb(255, 138, 16); margin-right: 0.3rem; }
.voucher-info .am-list-content { font-size: 0.28rem !important; font-weight: 300; }
.voucher-info .am-list-item { height: 1.08rem; }
.am-accordion { position: relative; border-top: 1px solid rgb(221, 221, 221); }
.am-accordion .am-accordion-item .am-accordion-header { position: relative; color: rgb(0, 0, 0); font-size: 0.34rem; height: 0.9rem; line-height: 0.9rem; background-color: rgb(255, 255, 255); box-sizing: content-box; padding-left: 0.3rem; padding-right: 0.6rem; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.am-accordion .am-accordion-item .am-accordion-header::after { display: block; position: absolute; content: ""; left: 0px; bottom: 0px; right: auto; top: auto; width: 100%; border-bottom: 1px solid rgb(221, 221, 221); }
.am-accordion .am-accordion-item .am-accordion-header i { position: absolute; display: block; top: 0.3rem; right: 0.3rem; width: 0.3rem; height: 0.3rem; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='26' viewBox='0 0 16 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/%3E%3C/svg%3E"); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; transform: rotate(90deg); }
.am-accordion .am-accordion-item .am-accordion-header[aria-expanded~="true"] i { transform: rotate(270deg); }
.am-accordion .am-accordion-item .am-accordion-content { overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box { font-size: 0.3rem; color: rgb(51, 51, 51); position: relative; }
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box::after { display: block; position: absolute; content: ""; left: 0px; bottom: 0px; right: auto; top: auto; width: 100%; border-bottom: 1px solid rgb(221, 221, 221); }
.borrow-info .am-accordion-content { height: auto; }
.borrow-info .am-accordion { border-bottom: 1px solid rgb(221, 221, 221); }
.borrow-info .am-accordion-content-box { border-bottom: 0px none; }
.borrow-info .am-accordion-content-box::after { border-bottom: 0px none !important; }
.borrow-info .am-accordion-header { font-size: 0.28rem !important; }
.borrow-info .am-accordion-header::after { border-bottom: 0px none !important; }
.borrow-list { padding-left: 0.3rem; margin-bottom: 0.3rem; }
.borrow-list dl { height: 0.58rem; }
.borrow-list dt { color: rgba(0, 0, 0, 0.5); margin-right: 0.3rem; }
.borrow-list dd, .borrow-list dt { display: inline-block; font-size: 0.28rem; line-height: 0.58rem; }
.borrow-list dd { color: rgb(0, 0, 0); font-weight: 300; }
.borrow-list .data-cell { font-weight: 400; }
.borrow-list .remaining-time { position: relative; font-weight: 300; }
.borrow-list .remaining-time div { position: absolute; top: 0px; left: 1.42rem; display: inline-block; font-size: 0.28rem; color: rgb(0, 0, 0); line-height: 0.58rem; }
.debt-description .am-list-content { font-size: 0.28rem !important; }
.description-list .am-list-line::after { border-bottom: 0px none !important; }
.description-list .am-list-brief { overflow: hidden; padding: 0px 0.3rem; font-size: 0.28rem; color: rgba(0, 0, 0, 0.5); height: 2.18rem; line-height: 0.46rem; }
.description-list .item-link { position: absolute; left: 0px; top: 0px; width: 100%; color: rgb(0, 0, 0); font-size: 0.28rem; line-height: 0.9rem; }
.description-list .content { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -moz-box-orient: vertical; font-weight: 300; }
.description-list .brief-link { color: rgba(0, 0, 0, 0.5); }
.enter-list { margin-bottom: 1.28rem; }
.enter-list .item-link { position: absolute; left: 0px; top: 0px; width: 100%; color: rgb(0, 0, 0); font-size: 0.28rem; line-height: 0.9rem; }
.enter-list .am-list-extra { font-size: 0.28rem !important; }
.tm-link { border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; color: rgb(39, 130, 215); }
.invest-btn { height: 1.28rem; padding: 0.24rem 0.3rem; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: fixed; bottom: 0px; left: 0px; right: 0px; box-sizing: border-box; border-top: 0.01rem solid rgb(229, 229, 229); }
.invest-btn .tm-link { color: rgb(255, 255, 255); background-color: rgb(39, 130, 215); width: 100%; border-radius: 0.1rem; display: inline-block; height: 0.84rem; line-height: 0.84rem; font-size: 0.32rem; }
.invest-btn .tm-link:active { background-color: rgb(17, 94, 166); }
@keyframes keyboard-cursor {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes keyboard-cursor {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
.am-list-body .am-list-item:last-child { border-bottom: 0px none; }
.am-list-body .am-list-item:last-child::after { display: none; }
.am-list-content { font-size: 0.28rem !important; }
body { margin: 0px; padding: 0px; }
body { margin: 0px; }
.am-list-content { font-size: 0.28rem !important; }
@font-face {
  font-family: "icon";
  src: url("64ea023dc94d54369c652510f815fa07.woff") format("woff"), url("7a008c2f4c6950261813ddaba27ec602.ttf") format("truetype"), url("f97242a19dad0db5a1eadf14e416ed20.svg") format("svg");
}
body { font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif !important; }
dd, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, li, ol, p, td, th, ul { margin: 0px; padding: 0px; }
ul { list-style: outside none none; }
