

.am-flexbox {
	text-align: left;
	overflow-y: hidden;
	display: flex;
	-moz-box-align: center;
	align-items: center;
}

.am-flexbox.am-flexbox-align-middle {
	-moz-box-align: center;
	align-items: center;
}

.am-flexbox .am-flexbox-item {
	box-sizing: border-box;
	-moz-box-flex: 1;
	flex: 1 1 0%;
	margin-left: 0.16rem;
	min-width: 0.2rem;
}

.am-flexbox .am-flexbox-item:first-child {
	margin-left: 0px;
}

.am-tabs {
	overflow: hidden;
}

.am-tabs-bar {
	display: flex;
	position: relative;
}

.am-tabs-bar .am-tabs-nav-swipe-container .am-tabs-nav-swipe .am-tabs-nav .am-tabs-tab,
.am-tabs-bar .am-tabs-tab {
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
}

.am-tabs-bar .am-tabs-tab {
	-moz-box-flex: 1;
	flex: 1 1 0%;
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
	font-size: 0.32rem;
	height: 0.88rem;
	line-height: 0.88rem;
	color: rgba(0, 0, 0, 0.6);
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
}

.am-tabs-bar .am-tabs-tab-active {
	color: rgb(39, 130, 215);
}

.am-tabs-ink-bar {
	position: absolute;
	bottom: 0px;
	height: 0.06rem;
	background-color: rgb(39, 130, 215);
}

.am-tabs-content {}

.am-tabs-content .am-tabs-tabpane {
	overflow: auto;
}

.am-tabs-content-no-animated .am-tabs-tabpane-inactive {
	display: none;
}

.am-tabs .am-tabs-tabpane-inactive {
	height: 0px;
	overflow: visible;
}

@keyframes spinner-anime {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes spinner-anime {
	100% {
		transform: rotate(1turn);
	}
}

.def-item {
	padding: 0.4rem 0.3rem 0.4rem 0px;
	margin-left: 0.3rem;
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.def-item img,
.def-item span {
	vertical-align: middle;
}

.def-item .def-title {
	position: relative;
	margin-bottom: 0.3rem;
}

.def-item .def-title img {
	height: 0.42rem;
	width: 1.31rem;
	border: 0px none;
	margin-right: 0.14rem;
}

.def-item .def-title .desc {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.24rem;
}

.def-item dl {
	position: relative;
}

.def-item dl dd {
	display: inline-block;
	width: 33.3%;
	text-align: center;
	vertical-align: bottom;
}

.def-item dl dd:first-child {
	text-align: left;
}

.def-item dl dd:last-child {
	text-align: right;
}

.def-item dl dd span {
	display: block;
}

.def-item dl dd span:first-child {
	color: rgb(0, 0, 0);
	font-size: 0.36rem;
}

.def-item dl dd span:last-child {
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.24rem;
	margin-top: 0.06rem;
}

.def-item dl dd em {
	font-size: 0.5rem;
	color: rgb(255, 138, 16);
}

.def-item dl dd .sub {
	font-size: 0.24rem;
	color: rgb(0, 0, 0);
	vertical-align: middle;
}

.def-item dl dd .rate .sub {
	color: rgb(255, 138, 16);
	font-size: 0.28rem;
}

.def-item dl dd .left em {
	color: rgb(0, 0, 0);
	font-size: 0.36rem;
}

.def-item dl i {
	font-style: normal;
}

.quick-invest-tag {
	position: relative;
	display: inline-block;
	height: 0.32rem;
	line-height: 0.32rem;
	padding: 0px 0.1rem;
	margin-right: 0.08rem;
	font-size: 0.24rem;
	background: rgb(255, 138, 16) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	border-radius: 0.03rem;
	transform: skew(-15deg);
}

.quick-invest-tag i {
	display: block;
	font-style: normal;
	transform: skew(15deg);
}

@keyframes cirle-anim {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes cirle-anim {
	100% {
		transform: rotate(1turn);
	}
}

.platform-home {
	margin-bottom: 1.18rem;
	/*padding-bottom: 1.2rem;*/
	overflow: hidden;
}

.platform-home .banner {
	position: relative;
	height: 2.04rem;
	background: rgb(39, 130, 215) none repeat scroll 0% 0%;
	text-align: center;
}

.platform-home .banner a {
	display: block;
}

/*.platform-home .banner-img {
	position: absolute;
	left: 0.3rem;
	display: inline-block;
	width: 2.07rem;
	height: 1.57rem;
	margin-top: 0.15rem;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0) url("../static/images/platformTopBanner.png") no-repeat scroll 0px 0px / 100% 100%;
}*/

.platform-home .banner-desc {
	display: inline-block;
	margin-top: 0.66rem;
	margin-left: 0.66rem;
	vertical-align: middle;
	text-align: left;
}

.platform-home .banner-desc .main-desc {
	margin-bottom: 0.18rem;
	font-size: 0.38rem;
	color: rgb(255, 255, 255);
}

.platform-home .banner-desc .sub-desc {
	font-size: 0.24rem;
	color: rgba(255, 255, 255, 0.7);
}

.platform-home .bottom-banner {
	height: auto;
	margin: 0.2rem 0px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.platform-home .bottom-banner img {
	width: 100%;
}

.platform-home .bottom-banner a {
	display: block;
	font-size: 0px;
}

.platform-home .platform-nav {
	position: relative;
	padding: 0.16rem 0px 0px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	transition: all 1.5s ease-in-out 0s;
}

.platform-home .platform-nav .nav-item {
	display: block;
	text-align: center;
}

.platform-home .platform-nav .nav-item i {
	display: block;
	font-size: 0.54rem;
	color: rgb(39, 130, 215);
}

.platform-home .platform-nav .nav-desc {
	display: block;
	margin-top: 0.08rem;
	padding-bottom: 0.2rem;
	color: rgb(0, 0, 0);
	font-size: 0.26rem;
	vertical-align: middle;
}

.platform-home .platform-nav .nav-divider {
	height: 0.2rem;
	background: rgb(242, 242, 242) none repeat scroll 0% 0%;
}

.platform-home .am-tabs-bar {
	position: relative;
	transition: all 1.5s ease-in-out 0s;
}

.platform-home .am-tabs-ink-bar {
	width: 26% !important;
	left: 12%;
}

.platform-home .bids-list {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.def-link {
	display: block;
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

#app {
	position: relative;
	height: 100%;
}

body * {
	box-sizing: border-box;
}




.platform_top_banner_wrap .banner-desc {
    display: inline-block;
    margin-top: 0.66rem;
    margin-left: 0.66rem;
    vertical-align: middle;
    text-align: left;
}

.platform_bottom_banner_item1 {
	background: url('../../../static/images/banner1.png') no-repeat center;
    background-size: 100%;
	height: 1.7rem;
}

.platform_bottom_banner_item2 {
	background: url('../../../static/images/banner2.png') no-repeat center;
    background-size: 100%;
	height: 1.7rem;
}


.platform_top_banner_item1,.platform_top_banner_item2 {
	position: absolute;
	left: 0.3rem;
	display: inline-block;
	width: 2.07rem;
	height: 1.57rem;
	margin-top: 0.15rem;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0) url("../../../static/images/platformTopBanner.png") no-repeat scroll 0px 0px / 100% 100%;
}
