/* Code tidied up by ScrapBook */
@font-face {
  font-family: "icon";
  src: url("64ea023dc94d54369c652510f815fa07.woff") format("woff"), url("7a008c2f4c6950261813ddaba27ec602.ttf") format("truetype"), url("f97242a19dad0db5a1eadf14e416ed20.svg") format("svg");
}
body { font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif !important; }
dd, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, li, ol, p, td, th, ul { margin: 0px; padding: 0px; }
html { line-height: 1.15; }
body { margin: 0px; }
article, aside, footer, header, nav, section { display: block; }
figcaption, figure, main { display: block; }
a { background-color: transparent; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
@keyframes amFadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes amFadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes amFadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes amFadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes amSlideUpIn {
0% { transform: translateY(100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideUpIn {
0% { transform: translateY(100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideUpOut {
0% { transform: translate(0px); }
100% { transform: translateY(100%); }
}
@keyframes amSlideUpOut {
0% { transform: translate(0px); }
100% { transform: translateY(100%); }
}
@keyframes amZoomIn {
0% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
100% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
}
@keyframes amZoomIn {
0% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
100% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
}
@keyframes amZoomOut {
0% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
100% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
}
@keyframes amZoomOut {
0% { opacity: 1; transform-origin: 50% 50% 0px; transform: scale(1); }
100% { opacity: 0; transform-origin: 50% 50% 0px; transform: scale(0); }
}
@keyframes amSlideDownIn {
0% { transform: translateY(-100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideDownIn {
0% { transform: translateY(-100%); }
100% { transform: translate(0px); }
}
@keyframes amSlideDownOut {
0% { transform: translate(0px); }
100% { transform: translateY(-100%); }
}
@keyframes amSlideDownOut {
0% { transform: translate(0px); }
100% { transform: translateY(-100%); }
}
*, *::after, *::before {  }
html { font-size: 50px; }
body { -moz-user-select: none; font-size: 0.32rem; background-color: rgb(242, 242, 242); }
:focus, a { outline: medium none; }
a { background: transparent none repeat scroll 0% 0%; text-decoration: none; }
.am-list-body { position: relative; background-color: rgb(255, 255, 255); border-top: 0.01rem solid rgba(0, 0, 0, 0.1); }
.am-list-body::after, .am-list-body div:not(:last-child) .am-list-line::after { display: block; position: absolute; content: ""; width: 100%; border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1); }
.am-list-item { position: relative; display: flex; padding-left: 0.3rem; min-height: 1.08rem; background-color: rgb(255, 255, 255); vertical-align: middle; overflow: hidden; transition: background-color 0.2s ease 0s; -moz-box-align: center; align-items: center; }
@keyframes ripple {
100% { opacity: 0; transform: scale(2.5); }
}
@keyframes ripple {
100% { opacity: 0; transform: scale(2.5); }
}
@keyframes spinner-anime {
100% { transform: rotate(1turn); }
}
@keyframes spinner-anime {
100% { transform: rotate(1turn); }
}
body { margin: 0px; padding: 0px; }
@keyframes cirle-anim {
100% { transform: rotate(1turn); }
}
@keyframes cirle-anim {
100% { transform: rotate(1turn); }
}
.am-list-item .am-input-control { width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
@keyframes keyboard-cursor {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes keyboard-cursor {
0% { opacity: 1; }
50% { opacity: 0; }
100% { opacity: 1; }
}
.am-list-item.am-input-item { height: 1.08rem; padding-left: 0.3rem; padding-right: 0.3rem; }
.am-list-item.am-input-item::after { display: block; position: absolute; content: ""; left: 0.3rem; bottom: 0px; right: auto; top: auto; width: 100%; border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1); }
.am-list-item .am-input-control { font-size: 0.34rem; -moz-box-flex: 1; flex: 1 1 0%; }
.am-list-item .am-input-control input { color: rgba(0, 0, 0, 0.6); font-size: 0.36rem; -moz-appearance: none; width: 100%; padding: 0.04rem 0px; border: 0px none; background-color: transparent; line-height: 1; box-sizing: border-box; }
.am-list-item .am-input-control input:disabled { color: rgba(0, 0, 0, 0.3); background-color: rgb(255, 255, 255); }
.am-list-item .am-input-extra { -moz-box-flex: initial; flex: initial; min-width: 0px; max-height: 0.42rem; overflow: hidden; padding-right: 0px; line-height: 1; color: rgba(0, 0, 0, 0.5); font-size: 0.32rem; margin-left: 0.1rem; }
.am-list-body .am-list-item:last-child { border-bottom: 0px none; }
.am-list-body .am-list-item:last-child::after { display: none; }
.deposit .am-input-label, .deposit input { font-size: 0.28rem !important; }
.deposit header { padding: 0.35rem; background-color: rgb(255, 255, 255); margin-bottom: 0.3rem; }
.deposit header img { width: 0.5rem; vertical-align: -0.12rem; margin-right: 0.2rem; }
.deposit header p { margin-top: 0.3rem; }
.deposit a { color: rgb(39, 130, 215); }
.deposit section { display: flex; background-color: rgb(255, 255, 255); -moz-box-align: baseline; align-items: baseline; padding: 0.35rem 0px 0px 0.35rem; margin-bottom: 0.3rem; }
.deposit section div { padding-bottom: 0.35rem; -moz-box-flex: 1; flex: 1 1 0%; }
.deposit section cite { font-style: normal; width: 25%; color: rgba(0, 0, 0, 0.6); font-size: 0.28rem; }
.deposit section input { height: 100%; border: 0px none; outline: 0px none; font-size: 0.32rem; width: 50%; }
.deposit #deposit { text-decoration: none; display: block; width: 95%; background: rgb(39, 130, 215) none repeat scroll 0% 0%; color: rgb(255, 255, 255); margin: 0.5rem auto 0px; text-align: center; padding: 0.28rem 0px; border-radius: 0.05rem; }
.deposit .deposit-mask { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; text-align: center; background: rgb(204, 204, 204) none repeat scroll 0% 0%; width: 95%; margin: 0px auto; line-height: 2.5; display: none; }
